<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/tmrazor-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            maxArchiveFiles="7"
            archiveEvery="Day" />
    <target name="debug" xsi:type="Debugger"
            layout="${level:uppercase=true}|${logger:shortName=true}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
  </rules>
</nlog>
